## CASE Statements

A `CASE` statement is SQl version of 'if this then that' statements.<br>
`CASE` statements can be used to:
* Categorizing data
* Filtering data
* Aggregating data

<figure>
<figcaption><h4>Basic CASE Syntax</h4><f/igcaption>
<img src="img/02_01.png"/>
</figure>

>SELECT date<br>
	CASE WHEN home_goal > away_goal THEN 'Home win!'<br>
        WHEN home_goal < away_goal THEN 'Home loss :(' <br>
        ELSE 'Tie' END AS outcome<br>
FROM matches_spain;<br>

The above query uses the `CASE` statement to create a new column called `outcome` that contains the outcome of the match.

It is possible to combine multiple logics inside a `CASE` statement. The following query check if the team is *Chelsea* and classifies the outcome only when this is true!

<figure>
<figcaption><h4>CASE Syntax With AND</h4><f/igcaption>
<img src="img/02_02.png"/>
</figure>

It is important to add the final `WHEN` condition otherwise the `CASE` statement will output the result coressponding to all teams, not only *Chelsea*.

If we don't want the final `ELSE` clause, we can leave out the `ELSE` clause and it will result in a value of `NULL` everywhere the `ELSE` clause was supposed to return. (In above case, there will be no *Loss or tie :(* in reslting table, instead, it will be `NULL`.). However, we can do better and drop all these `NULL` values using a `WHERE` clause. The syntax is:

<figure>
<figcaption><h4>CASE Syntax With AND and WHERE</h4><f/igcaption>
<img src="img/02_03.png"/>
</figure>

> We don't need to filter anymore. ):

>SELECT <br>
	date,<br>
	CASE WHEN hometeam_id = 8634 THEN 'FC Barcelona' <br>
         ELSE 'Real Madrid CF' END as home,<br>
	CASE WHEN awayteam_id = 8634 THEN 'FC Barcelona' <br>
         ELSE 'Real Madrid CF' END as away,<br>
	CASE WHEN home_goal > away_goal AND hometeam_id = 8634 THEN 'Barcelona win!'<br>
        WHEN home_goal > away_goal AND hometeam_id = 8633 THEN 'Real Madrid win!'<br>
        WHEN home_goal < away_goal AND awayteam_id = 8634 THEN 'Barcelona win!'<br>
        WHEN home_goal < away_goal AND awayteam_id = 8633 THEN 'Real Madrid win!'<br>
        ELSE 'Tie!' END AS outcome<br>
FROM matches_spain<br>
WHERE (awayteam_id = 8634 OR hometeam_id = 8634)<br>
      AND (awayteam_id = 8633 OR hometeam_id = 8633);<br>

The above query returns the result of all the matches between *Barcelona* and *Real Madrid*. The result is in column `outcome` and has three different values: `Barcelona win!`, `Real Madrid win!` and `Tie!`.

>`CASE` statements allow you to categorize data that you're interested in - and exclude data you're not interested in. In order to do this, you can use a `CASE` statement as a filter in the `WHERE` statement to remove output you don't want to see.

>SELECT <br>
	season,<br>
    date,<br>
	home_goal,<br>
	away_goal<br>
FROM matches_italy<br>
WHERE <br>
	CASE WHEN hometeam_id = 9857 AND home_goal > away_goal THEN 'Bologna Win'<br>
		WHEN awayteam_id = 9857 AND away_goal > home_goal THEN 'Bologna Win' <br>
		END IS NOT NULL;

The above query gives details on every match in this database where *Bologna* won. It excludes matches where *Bologna* didn't win.

`CASE` statements are like any column in our database. So, we can use `COUNT` on them to use `GROUP BY`. The syntax is:

<figure>
<figcaption><h4>CASE Syntax With COUNT and GROUP BY</h4><f/igcaption>
<img src="img/02_04.png"/>
</figure>

> Note that SQL counts the number of rows that match the `CASE` statement. So, you use any number or string between `THEN` and `END` to group the data.

In case the `CASE` statement returns a number, we can use `SUM` to sum the returned values.

<figure>
<figcaption><h4>CASE Syntax With SUM</h4><f/igcaption>
<img src="img/02_05.png"/>
</figure>

> The `AVG` can be used the same way.

Another use of `AVG` function is to calculate percentages. The syntax is:

<figure>
<figcaption><h4>CASE Syntax With AVG</h4><f/igcaption>
<img src="img/02_06.png"/>
</figure>

Here, the query returns the percentage of matches where the team won. We have used the `ROUND` function to round the result to two decimal places.

>SELECT <br>
	c.name AS country,<br>
	COUNT(CASE WHEN m.season = '2012/2013' THEN m.id END) AS matches_2012_2013,<br>
	COUNT(CASE WHEN m.season = '2013/2014' THEN m.id END) AS matches_2013_2014,<br>
	COUNT(CASE WHEN m.season = '2014/2015' THEN m.id END) AS matches_2014_2015<br>
FROM country AS c<br>
LEFT JOIN match AS m<br>
ON c.id = m.country_id<br>
GROUP BY c.name;

The above query gives the number of matches played by countries in year 2012-13, 2013-14 and 2014-15.

>In R or Python, you have the ability to calculate a `SUM` of logical values (i.e., TRUE/FALSE) directly. In SQL, you have to convert these values into 1 and 0 before calculating a sum. This can be done using a `CASE` statement.

>SELECT <br>
	c.name AS country,<br>
	SUM(CASE WHEN m.season = '2012/2013' AND m.home_goal > m.away_goal <br>
        THEN 1 ELSE 0 END) AS matches_2012_2013,<br>
 	SUM(CASE WHEN m.season = '2013/2014' AND m.home_goal > m.away_goal <br>
        THEN 1 ELSE 0 END) AS matches_2013_2014,<br>
	SUM(CASE WHEN m.season = '2014/2015' AND m.home_goal > m.away_goal <br>
        THEN 1 ELSE 0 END) AS matches_2014_2015<br>
FROM country AS c<br>
LEFT JOIN match AS m<br>
ON c.id = m.country_id<br>
GROUP BY c.name;

Here, we have converted the boolean `TRUE` and `FALSE` values into 1 and 0 and summed it.

`CASE` statements will return any value you specify in your `THEN` clause. This is an incredibly powerful tool for robust calculations and data manipulation when used in conjunction with an aggregate statement. One key task you can perform is using `CASE` inside an `AVG` function to calculate a percentage of information in your database.
>AVG(CASE WHEN condition_is_met THEN 1<br>
         WHEN condition_is_not_met THEN 0 END)

>SELECT <br>
	c.name AS country,<br>
	ROUND(AVG(CASE WHEN m.season='2013/2014' AND m.home_goal = m.away_goal THEN 1<br>
			 WHEN m.season='2013/2014' AND m.home_goal != m.away_goal THEN 0<br>
			 END),2) AS pct_ties_2013_2014,<br>
	ROUND(AVG(CASE WHEN m.season='2014/2015' AND m.home_goal = m.away_goal THEN 1<br>
			 WHEN m.season='2014/2015' AND m.home_goal != m.away_goal THEN 0<br>
			 END),2) AS pct_ties_2014_2015<br>
FROM country AS c<br>
LEFT JOIN matches AS m<br>
ON c.id = m.country_id<br>
GROUP BY country;

The above query gives the percentage of tied matches. It also rounds off the result to two decimal places.