## Inner Join

The basic syntax for an `INNER JOIN`, here including all columns in both tables:

>SELECT * <br>
FROM left_table <br>
INNER JOIN right_table <br>
ON left_table.id = right_table.id;

Instead of writing the full table name, you can use table aliasing as a shortcut. For tables you also use `AS` to add the alias immediately after the table name with a space. Check out the aliasing of cities and countries below.

>SELECT c1.name AS city, c2.name AS country <br>
FROM cities AS c1<br>
INNER JOIN countries AS c2<br>
ON c1.country_code = c2.code;

Notice that to select a field in your query that appears in multiple tables, you'll need to identify which table/table alias you're referring to by using a `.` in your `SELECT` statement.

In SQL, the joining can be done for even multiple tables.
>SELECT * <br>
FROM left_table <br>
  INNER JOIN right_table <br>
    ON left_table.id = right_table.id <br>
  INNER JOIN another_table <br>
    ON left_table.id = another_table.id; <br>

When doing this type of long joining, it becomes useful to alias each table using the first letter of its name (e.g. `countries AS c`)!

### Inner Join via `USING`

When joining tables with a common field name, e.g.
>SELECT *<br>
FROM countries<br>
  INNER JOIN economies<br>
    ON countries.code = economies.code<br>

You can use USING as a shortcut:
>SELECT *<br>
FROM countries<br>
  INNER JOIN economies<br>
    USING(code)

### Self-join

Self-join is exactly what it says it is. It joins a table with itself. But why would we do that? Well, it can be used to perform some special queries. The syntax is:
>SELECT p1.country_code, p1.size as size2010, p2.size as size2015<br>
FROM populations (alias as p1)<br>
FROM populations as p1<br>
Join to itself (alias as p2)<br>
  INNER JOIN populations as p2<br>
Match on country code<br>
    USING(country_code)<br>
    AND p1.year = p2.year - 5

Here, using self-join we can calculate the increase in population from 2010 to 2015 for each country code! Using 
>((p2.size - p1.size)/p1.size * 100.0) AS growth_percent

also gives the percentage growth.

### Case when and then

Often it's useful to look at a numerical field not as raw data, but instead as being in different categories or groups. We can use `CASE` with `WHEN`, `THEN`, `ELSE`, and `END` to define a new grouping field. The syntax is:

>SELECT name, continent, code, surface_area,<br>
    CASE WHEN surface_area > 2000000 THEN 'large'<br>
        -- Second case<br>
        WHEN surface_area > 350000 THEN 'medium'<br>
        -- Else clause + end<br>
        ELSE 'small' END<br>
        -- Alias name<br>
        AS geosize_group<br>
-- From table<br>
FROM countries;

Using `INTO countries_plus` just before `FROM` is a shortcut for creating a new table with the same columns as the original table plus the new field.

## Outer Joins

### Left and Right Joins

<figure>
<figcaption><h4>Left Join</h4><f/igcaption>
<img src="img/01_01.png"/>
</figure>

<figure>
<figcaption><h4>Right Join</h4><f/igcaption>
<img src="img/01_02.png"/>
</figure>

The syntax for these is similar to the `INNER JOIN` syntax, but with a `LEFT` or `RIGHT` keyword in front of the `INNER` keyword.

>Right joins aren't as common as left joins. One reason why is that you can always write a right join as a left join.