In [1]:
%load_ext sql

In [2]:
%sql mysql:///movies.sql

(MySQLdb.OperationalError) (1045, "Access denied for user 'hari31416'@'localhost' (using password: NO)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [3]:
%sql mysql://hari31416:HariSQL@localhost:8080/test

In [16]:
%%sql
SELECT DISTINCT COUNT(Species) FROM Iris GROUP BY Species;

 * mysql://hari31416:***@localhost:8080/test
1 rows affected.

[(50,)]

In [19]:
%%sql
SELECT *
FROM Iris
WHERE Species = 'Iris-versicolor'
ORDER BY SepalLengthCm
LIMIT 10;

 * mysql://hari31416:***@localhost:8080/test
10 rows affected.

[(58, Decimal('4.9'), Decimal('2.4'), Decimal('3.3'), Decimal('1.0'), 'Iris-versicolor'),
 (94, Decimal('5.0'), Decimal('2.3'), Decimal('3.3'), Decimal('1.0'), 'Iris-versicolor'),
 (61, Decimal('5.0'), Decimal('2.0'), Decimal('3.5'), Decimal('1.0'), 'Iris-versicolor'),
 (99, Decimal('5.1'), Decimal('2.5'), Decimal('3.0'), Decimal('1.1'), 'Iris-versicolor'),
 (60, Decimal('5.2'), Decimal('2.7'), Decimal('3.9'), Decimal('1.4'), 'Iris-versicolor'),
 (85, Decimal('5.4'), Decimal('3.0'), Decimal('4.5'), Decimal('1.5'), 'Iris-versicolor'),
 (81, Decimal('5.5'), Decimal('2.4'), Decimal('3.8'), Decimal('1.1'), 'Iris-versicolor'),
 (54, Decimal('5.5'), Decimal('2.3'), Decimal('4.0'), Decimal('1.3'), 'Iris-versicolor'),
 (90, Decimal('5.5'), Decimal('2.5'), Decimal('4.0'), Decimal('1.3'), 'Iris-versicolor'),
 (82, Decimal('5.5'), Decimal('2.4'), Decimal('3.7'), Decimal('1.0'), 'Iris-versicolor')]