## Inner Join

`pandas.merge` is used to join two DataFrames. The syntax is:
>merged_df = left_df.merge(right_df, on=common_id, suffixes=(first_df_suffix,second_df_suffix))

<figure>
<figcaption><h4>The Inner Merge</h4><f/igcaption>
<img src="img/01_01.png"/>
</figure>

>It is necessary to understand that inner joins only return the rows with matching values in both tables.

### One-to-many classification and many-to-one classification

To see difference between one-to-many and many-to-one joins, let's look at the following DataFrames:
* A `customer` table with information about each customer
* A `cust_tax_info` table with customers unique tax IDs
* An `orders` table with information about each order
* A `products` table with details about each unique product sold
* An `inventory` table with information on how much total inventory is available to sell for each product

<figure>
<figcaption><h4>One-to-many classification and many-to-one classification</h4><f/igcaption>
<img src="img/01_02.png"/>
</figure>

We can even merge two tables based on more than one columns. Common syntax is:
>merged_df = left_df.merge(right_df, on=list_of_common_id)

Furthermore, we can also merger more than two tables. Start by merging two tables, then merge the result with the third table. This process can be repeated until all tables are merged.