In [11]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [13]:
col2 = mydb['item']
items = {
    'name': 'Bread',
    'price': 2.50,
    'quantity': 10
}

In [15]:
mycol.insert_one(items)

In [10]:
print(myclient.list_database_names())

['Book', 'Person', 'admin', 'animalShelter', 'config', 'farmStand', 'local', 'mongodbVSCodePlaygroundDB', 'movies', 'shopApp', 'yelp-camp']

In [12]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

The database exists.

In [9]:
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="user",
  password="pass"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000262F1A90160>

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="user",
  password="pass"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [5]:
mycursor.execute("SHOW DATABASES")

In [6]:
for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [8]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [14]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customer2',)
('customers',)

In [11]:
mycursor.execute("CREATE TABLE customer2 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [13]:
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")