## BASICS

### SELECTing single columns

In `SQL`, you can select data from a table using a `SELECT` statement. For example, the following query selects the name column from the people table:

>SELECT name<br>
FROM people;

In this query, `SELECT` and `FROM` are called keywords. In `SQL`, keywords are not case-sensitive, which means you can write the same query as:

>select name<br>
from people;

That said, it's good practice to make `SQL` keywords uppercase to distinguish them from other parts of your query, like column and table names.

It's also good practice to include a semicolon at the end of your query. This tells `SQL` where the end of your query is!

### SELECTing multiple columns

To select multiple columns from a table, simply separate the column names with commas!
<br>For example, this query selects two columns, `name` and `birthdate`, from the `people` table:

>SELECT name, birthdate
FROM people;

Sometimes, you may want to select all columns from a table. Typing out every column name would be a pain, so there's a handy shortcut:

>SELECT *
FROM people;

If you only want to return a certain number of results, you can use the LIMIT keyword to limit the number of rows returned:

>SELECT *
FROM people
LIMIT 10;

### DISTINCT Values

Often your results will include many duplicate values. If you want to select all the unique values from a column, you can use the `DISTINCT` keyword.

### Learning to COUNT

The `COUNT()` function lets you do this by returning the number of rows in one or more columns.<br>`COUNT(*)` tells you how many rows are in a table. However, if you want to count the number of non-missing values in a particular column, you can call `COUNT()` on just that column.

For example, to count the number of birth dates present in the people table:

>SELECT COUNT(birthdate)
FROM people;

It's also common to combine `COUNT()` with `DISTINCT` to count the number of distinct values in a column.
For example, this query counts the number of distinct birth dates contained in the people table:

>SELECT COUNT(DISTINCT birthdate)
FROM people;

## Filtering

In `SQL`, the `WHERE` keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

* = equal
* <> not equal
* < less than
* {}> greater than
* <= less than or equal to
* {}>= greater than or equal to<br>
**Ignore the {}**
<br>
For example, you can filter text records such as `title`. The following code returns all films with the `title` 'Metropolis':

>SELECT title<br>
FROM films<br>
WHERE title = 'Metropolis';

### Simple filtering of numeric values

The following query selects all details for films with a budget over ten thousand dollars:

>SELECT *<br>
FROM films<br>
WHERE budget > 10000;

### Simple filtering of text

The `WHERE` clause can also be used to filter text results, such as names or countries.

For example, this query gets the titles of all films which were filmed in China:

>SELECT title
FROM films
WHERE country = 'China';

### WHERE AND

Often, you'll want to select data based on multiple conditions. You can build up your `WHERE` queries by combining multiple conditions with the `AND` keyword.

For example,

>SELECT title<br>
FROM films<br>
WHERE release_year > 1994<br>
AND release_year < 2000;

gives you the titles of films released between 1994 and 2000.

Note that you need to specify the column name separately for every `AND` condition, so the following would be invalid:

>SELECT title<br>
FROM films<br>
WHERE release_year > 1994 AND < 2000;

### WHERE AND OR

In case you want to select rows based on multiple conditions where some but not all of the conditions need to be met you can use SQL's `OR` operator.

For example, the following returns all films released in either 1994 or 2000:

>SELECT title <br>
FROM films<br>
WHERE release_year = 1994<br>
OR release_year = 2000;

Note that just like `AND` you need to specify the column for every `OR` condition

When combining `AND` and `OR`, be sure to enclose the individual clauses in parentheses, like so:

>SELECT title <br>
FROM films<br>
WHERE (release_year = 1994 OR release_year = 1995)<br>
AND (certification = 'PG' OR certification = 'R');

Otherwise, due to SQL's precedence rules, you may not get the results you're expecting!