## Inner Join

The basic syntax for an `INNER JOIN`, here including all columns in both tables:

>SELECT * <br>
FROM left_table <br>
INNER JOIN right_table <br>
ON left_table.id = right_table.id;

Instead of writing the full table name, you can use table aliasing as a shortcut. For tables you also use `AS` to add the alias immediately after the table name with a space. Check out the aliasing of cities and countries below.

>SELECT c1.name AS city, c2.name AS country <br>
FROM cities AS c1<br>
INNER JOIN countries AS c2<br>
ON c1.country_code = c2.code;

Notice that to select a field in your query that appears in multiple tables, you'll need to identify which table/table alias you're referring to by using a `.` in your `SELECT` statement.

In SQL, the joining can be done for even multiple tables.
>SELECT * <br>
FROM left_table <br>
  INNER JOIN right_table <br>
    ON left_table.id = right_table.id <br>
  INNER JOIN another_table <br>
    ON left_table.id = another_table.id; <br>

When doing this type of long joining, it becomes useful to alias each table using the first letter of its name (e.g. `countries AS c`)!